<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}


<style type="text/css">
    header.intro-header {
        background-image: url('{{.Site.Params.header_image | relURL}}');
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading text-center" style="padding: 60px 0px 60px 0px">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}


{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
