{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">

    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-xs-12">
            <!-- USE SIDEBAR -->
            <!-- Post Container -->

            <p>{{ .Params.subtitle }}</p>
        </div>
        <div class="col-md-1"></div>
    </div>


        <div class="row category">
            <div class="col-md-6">
                <img src="/img/{{.Params.image}}" style="width: 100%;"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                {{ .Content }}
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</article>

<style>
.category {
    padding-top: 100px
}
</style>

{{ end }}


