{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}');
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}


{{ define "main" }}
<div data-pagefind-ignore="all" class="container">
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-xs-12">
            <!-- USE SIDEBAR -->
            <!-- Post Container -->



            <p>Seattle Switchback is a men's team focused on finding positive
team culture in a highly competitive environment.</p>

            {{ .Content }}
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row category">
        <div class="col-md-6">
            <img src="/img/bicycle.jpg" style="width: 100%;"/>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>Our vision</h2>
            We've talked a lot about how to diffuse the dynamics that can make men's
division experiences feel toxic, as well as what we want to focus on as a team.
You can read about the approach we take and the values we settled on <a href="about">here</a>.
        </div>
        <div class="col-md-1"></div>

    </div>


    <div class="row category">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>2024 season</h2>
            <p>Wow, thanks so much for visiting our website already.
            It's a little early for 2024, so we don't have anything for you yet! But check back soon.</p>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-6">
             <img src="/img/pidgeon_sideline.jpg" style="width: 100%"/>
        </div>
    </div>




</div>
<style>
.category {
    padding-top: 100px
}
</style>
{{ end }}
