{{ define "main" }}

<div class="row">
<div class="col-md-4 col-sm-3"></div>


<div class="col-sm-6 col-md-4 text-center" style="padding-top: 1em; padding-left: 3em; padding-right: 3em;">
<div class="thumbnail" style=" height: 25em; border: none">
	<img class="roster-image" src="../{{.Params.Picture }}" style="width: 350px; border-radius: 50%;">
	<div class="caption">
		<h4 class="subheading" style="margin: 20px">{{ .Params.Name }}</h4>
		<!-- <p>{{ .Summary }}</p> -->
	</div>
	<!-- this is a person card -->
</div>
</div>


<div class="col-md-4 col-sm-3"></div>
</div>

<div class="row">
<div class="col-md-3 col-sm-2 col-xs-1"></div>
<div class="col-md-6 col-sm-8 col-xs-10">
{{ .Content }}
</div>
<div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
<div class="row text-center">
<a href="{{.Parent.Permalink}}" class="button">&#8592;back to {{.Parent.Title}}</a>
</div>


{{ end }}