{{ define "main" }}
<!-- Post Content -->

    <div class="container text-center">

            
                {{ .Content }}

                <!--This is a the custom People index page-->
                <!-- could do [[ if eq .Params.Status "grad" ]], etc to order them -->

        <div class="row">
         
            {{ range .Pages }}
              {{ partial "personcard.html" . }}
            {{ end }}
        </div>

        <div class="text-center">
        	<a href="{{ .Parent.RelPermalink }}">see all rosters</a>
        </div>

    </div>

{{ end }}
