{{ define "main" }}
<!-- Post Content -->

    <div class="container text-center">

            

                <!--This is a the custom People index page-->
                <!-- could do [[ if eq .Params.Status "grad" ]], etc to order them -->

        {{ if .Params.showpreseason }}
        <h3>Preseason Leadership</h3>
        <div class="row">
            {{ range .Pages }}
              {{ if eq .Params.Status "preseason" }}
                <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                 {{ partial "personcard.html" . }}
                </div>
              {{ end }}
            {{ end }}
        </div>
        {{ end }}


        {{ if .Params.showcaptains }}
        <h3>Captains</h3>
        <div class="row">
            {{ range .Pages }}
              {{ if eq .Params.Status "captain" }}
                <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                 {{ partial "personcard.html" . }}
                </div>
              {{ end }}
            {{ end }}
        </div>
        {{ end }}

        
        {{ if .Params.showmanager }}
        <h3>Team Manager</h3>
        <div class="row">
            {{ range .Pages }}
              {{ if eq .Params.Status "manager" }}
              <div class="col-xs-6 col-sm-3 col-md-2 text-center">

                {{ partial "personcard.html" . }}
            </div>
              {{ end }}
            {{ end }}
      </div>
        {{ end }}

        {{ if .Params.showroster }}
        <h3>Roster</h3>
        <div class="row">
            {{ range .Pages }}
              {{ if eq .Params.Status "roster" }}
              <div class="col-xs-6 col-sm-3 col-md-2 text-center">

                {{ partial "personcard.html" . }}
            </div>
              {{ end }}
            {{ end }}
    	</div>
        {{ end }}


        {{ if .Params.showpractice }}
        <h3>Practice Players</h3>
        <div class="row">
            {{ range .Pages }}
              {{ if eq .Params.Status "practice" }}
              <div class="col-xs-6 col-sm-3 col-md-2 text-center">

                {{ partial "personcard.html" . }}
            </div>
              {{ end }}
            {{ end }}
        </div>
        {{ end }}



        <div class="text-center">
            <a href="{{ .Parent.RelPermalink }}">see all rosters</a>
        </div>

    </div>

{{ end }}
